<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Url Shortener</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <form @submit="shortenUrl" class="form">
        <input type="url" v-model="url" class="form__item" />
        <div v-if="error != ''" class="form__item">
          {{ error }}
        </div>
        <a
          v-if="shortened_url != ''"
          :href="shortened_url"
          target="_blank"
          rel="noopener noreferrer"
          class="form__item"
          >{{ shortened_url }}</a
        >
        <button type="submit" class="form__item">Shorten!</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
